doctype html
head
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  .head
    .container
      .head__logo
      .head__title
        | открыта вакансия
        br
        span Специалист по продажам малому и среднему бизнесу
      .head__subtitle
        | Оставь свой отклик сейчас
      a.head__button.c__button(href="https://ap.skillaz.co/landing/g2JfgDg2cE3kET8Mj/start?birthday=true&cells=true&education=true&citizenship=true")
        | Пройти Онлайн-интервью
      a.head__more(href="#more")
        | Подробнее о вакансии

  .sticky-header.sticky-header--2
    .container
      .sticky-header__left
        .sticky-header__logo
        .sticky-header__info
          .sticky-header__title
            | открыта вакансия
          .sticky-header__subtitle
            | Специалист по продажам малому и среднему бизнесу
      .sticky-header__right
        a.c__button.c__button--small(href="https://ap.skillaz.co/landing/g2JfgDg2cE3kET8Mj/start?birthday=true&cells=true&education=true&citizenship=true")
          | Пройти Онлайн-интервью
  .you
    .container
      | Ты уже получил высшее/средне-специальное образование или заканчиваешь обучение, ценишь успех и готов к достижениям – работа в офисах продаж «Билайн» ждет тебя!


  .points
    .container
      .points__title.c__title
        | В наших офисах ты сможешь

      .points-list
        .points-item.points-item--1
          .points-item__icon
          .points-item__text
            | Продавать продукты и услуги Компании, крутые девайсы, смартфоны и аксессуары к ним
        .points-item.points-item--2
          .points-item__icon
          .points-item__text
            | Действовать в слаженной команде профессионалов своего дела
        .points-item.points-item--3
          .points-item__icon
          .points-item__text
            | Обслуживать клиентов и консультировать их по вопросам связи

      .points__title.c__title
        | Взамен ты получишь

      .points-list.points-list--2.points-list--noBotton
        .points-item.points-item--5
          .points-item__icon
          .points-item__text
            | Официальное трудоустройство и полное соблюдение трудового законодательства;
        .points-item.points-item--4
          .points-item__icon
          .points-item__text
            | Достойную оплату труда: оклад + ежемесячный бонус;
      .points-list.points-list--2
        .points-item.points-item--2
          .points-item__icon
          .points-item__text
            | Работу в отличной команде в крупной международной компании;
        .points-item.points-item--7
          .points-item__icon
          .points-item__text
            | Полис добровольного медицинского страхования, обслуживаемый в лучших клиниках города;
        .points-item.points-item--6
          .points-item__icon
          .points-item__text
            | Корпоративное обучение, развитие, возможности карьерного роста;
        .points-item.points-item--10
          .points-item__icon
          .points-item__text
            | Корпоративную сотовую связь;
        .points-item.points-item--15
          .points-item__icon
          .points-item__text
            | Возмещение трат на заправку автомобиля


  .more#more
    .more__title.c__title
      | Подробное описание вакансии
    .more-item
      .more-badge
        .container
          | Обязанности
      .container
        .more-list
          .more-list__item
            | Реализация широкого спектра услуг компании (мобильная связь, телефония, фиксированный и мобильный интернет, облачные решения, М2М и мониторинг);
          .more-list__item
            | Поиск и привлечение потенциальных корпоративных клиентов, дополнительные продажи существующим клиентам Компании;
          .more-list__item
            | ​Проведение встреч и переговоров
            br
            | с первыми лицами компании (проведение презентаций, подготовка коммерческих предложений);
          .more-list__item
            | ​Разработка и внедрение комплексных решений для корпоративных клиентов;
          .more-list__item
            | ​Ведение необходимой отчетности.

    .more-item
      .more-badge
        .container
          | Требования
      .container
        .more-list
          .more-list__item
            | Высшее/неоконченное высшее образование;
          .more-list__item
            | ​Опыт успешных продаж в сегменте B2B от 1 года;
          .more-list__item
            | Навыки ведения переговоров и деловой переписки;
          .more-list__item
            | Владение различными техниками продаж;
          .more-list__item
            | Наличие водительского удостоверения категории В (желательно);
          .more-list__item
            | Активная жизненная позиция.

  .time
    .container
      .time__title.c__title
        | Время действовать!
      .time__subtitle
        | Если ты соответствуешь нашим требованиям и хочешь стать частью команды, то мы предлагаем тебе пройти небольшой путь:

      .time-list
        .time-item.time-item--12
          .time-item__icon
          .time-info
            .time-item__title
              | Отбор по резюме
            .time-item__text
              | Поздравляем, ты его прошел!
        .time-item.time-item--13
          .time-item__icon
          .time-info
            .time-item__title
              | Онлайн-интервью в несколько этапов
            .time-item__text
              | Тебе понадобятся ноутбук или смартфон на Android и несколько минут твоего времени!
        .time-item.time-item--14
          .time-item__icon
          .time-info
            .time-item__title
              | Приглашение на собеседование
            .time-item__text
              | В случае успеха - с тобой свяжутся наши специалисты.

      a.time__button.c__button(href="https://ap.skillaz.co/landing/g2JfgDg2cE3kET8Mj/start?birthday=true&cells=true&education=true&citizenship=true")
        | Пройти Онлайн-интервью

  .footer
    .container
      | Сервис предоставлен компанией Skillaz.
      br
      | В случае технических неполадок звоните: +7 (499) 110-35-73
